# Excluir archivos de control de versiones y configuración local
.git
.gitignore
.dockerignore
.env
.env.example

# Excluir archivos de infraestructura no necesarios en ejecución
docker-compose.yml
fly.toml

# Excluir archivos de documentación y bitácoras
README.md
DOCUMENTACION.md
BITACORA.md
changelog.md
development_notes.md
*.md
